<% include header %>
<div class="container-fluid">
	<div class="row ">
		<div class="col-md-2"></div>
	  <h1 class="col-md-10 boundary">主页</h1>
	</div>
	<div class="row">
	  <div class="col-md-2">
	  	<% include left %>
	  </div>
	  <div class="col-md-10">
	  	<% if(success){ %>
	  	<%= success %>
	  	<% } %>
	  	<% posts.forEach(function(post,index){ %>
	  	<p><h2><a href="#"><%= post.title %></a></h2></p>
	  	<p class="info">
	  		作者：<a href="#"><% post.name %></a> |
	  		日期：<%= post.time.minute %>
	  	</p>
	  	<p><%- post.post %></p>
	  	<% }) %>
	  </div>
	</div>
</div>
<% include footer %>
  
