<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/lib/boostrap/dist/css/bootstrap.min.css' />
  </head>
  <% include head %>
  <body>
    <% include user/show %>
  </body>
</html>
