<ul class="nav nav-pills nav-stacked text-right">
	<li role="presentation" class="active"><a href="/">首页</a></li>
	<li role="presentation"><a href="/reg">注册</a></li>
	<li role="presentation"><a href="/login">登录</a></li>
</ul>