<% include header %>
<div class="container-fluid">
	<div class="row ">
		<div class="col-md-2"></div>
	  <h1 class="col-md-10 boundary">主页</h1>
	</div>
	<div class="row">
	  <div class="col-md-2">
	  	<% include left %>
	  </div>
	  <div class="col-md-10">
	  	<ul>
	  		<li>
	  			<h3>
	  				<a href="https://love.alipay.com/donate/donateSingle.htm?name=201304201216494301" target="_blank">支付宝公益网</a>
	  			</h3>
	  			天佑四川，为雅安地震捐款
	  		</li>
	  		<li>
	  			<h3>
	  				<a href="http://wwww.onefoundation.cn/html/cn/beneficence.htm" target="_blank">壹基金</a>
	  			</h3>
	  			壹基金雅安地震救援，刻不容缓！
	  		</li>
	  	</ul>
	  </div>
	</div>
</div>
<% include footer %>