<% include header %>
<div class="container-fluid">
	<div class="row ">
		<div class="col-md-2"></div>
	  <h1 class="col-md-10 boundary">登录</h1>
	</div>
  <div class="row">
	  <div class="col-md-2">
	  	<% include left %>
	  </div>
	  <div class="col-md-10">
	  	<% if(error){ %>
	  	<%= error %>
	  	<% } %>
	  	<form method="post" action="/login">
	  		<fieldset class="form-group">
	  			<label for="name">用户名</label>
	  			<input class="form-control" name="name"  type="text" />
	  		</fieldset>
	  		<fieldset class="form-group">
	  			<label for="password">密码</label>
	  			<input class="form-control" name="password"  type="password" />
	  		</fieldset>
	  		<fieldset class="form-group">
	  			<input class="btn btn-default"  type="submit" value="登录" />
	  		</fieldset>
	  	</form>
	  </div>
	</div>
</div>
<% include footer %>
