<% include header %>
<div class="container-fluid">
	<div class="row ">
		<div class="col-md-2"></div>
	  <h1 class="col-md-10 boundary">登录</h1>
	</div>
  <div class="row">
	  <div class="col-md-2">
	  	<% include leftBar %>
	  </div>
	  <div class="col-md-10">
	  	<form method="post" action="">
	  		<fieldset class="form-group">
	  			<label>标题</label>
	  			<input class="form-control" type="text" value="" />
	  		</fieldset>
	  		<fieldset class="form-group">
	  			<label>正文</label>
	  			<textarea class="form-control" ></textarea>
	  		</fieldset>
	  		<fieldset class="form-group">
	  			<input class="btn btn-default"  type="submit" value="发表" />
	  		</fieldset>
	  	</form>
	  </div>
	</div>
</div>
<% include footer %>
