<!DOCTYPE html>
<html>
  <% include head %>
  <body>
  	<div class="container-fluid">
  		<div class="row ">
	  		<div class="col-md-2"></div>
			  <h1 class="col-md-10 boundary">注册</h1>
			</div>
	    <div class="row">
			  <div class="col-md-2">
			  	<% include leftBar %>
			  </div>
			  <div class="col-md-10">
			  	<form method="post" action="">
			  		<fieldset class="form-group">
			  			<label>用户名</label>
			  			<input class="form-control"  type="text" value="" />
			  		</fieldset>
			  		<fieldset class="form-group">
			  			<label>密码</label>
			  			<input class="form-control"  type="text" value="" />
			  		</fieldset>
			  		<fieldset class="form-group">
			  			<label>确认密码</label>
			  			<input class="form-control"  type="text" value="" />
			  		</fieldset>
			  		<fieldset class="form-group">
			  			<label>邮箱</label>
			  			<input class="form-control"  type="text" value="" />
			  		</fieldset>
			  		<fieldset class="form-group">
			  			<input class="btn btn-default" type="submit" value="注册" />
			  		</fieldset>
			  	</form>
			  </div>
			</div>
		</div>
  </body>
</html>
